\# filter=lfs diff=lfs merge=lfs -text
Adjust filter=lfs diff=lfs merge=lfs -text
the filter=lfs diff=lfs merge=lfs -text
pattern filter=lfs diff=lfs merge=lfs -text
as filter=lfs diff=lfs merge=lfs -text
necessary filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
